.ml-3em {
    margin-left: 3em;
}

.mt-1em {
    margin-top: 1em;
}

.ml-1em {
    margin-left: 1em;
}

.mt-0_75em {
    margin-top: 0.75em;
}

.mt-0_5em {
    margin-top: 0.5em;
}

.ml-0_5em {
    margin-left: 0.5em;
}

.mt-0_25em {
    margin-top: 0.25em;
}

.ml-0_25em {
    margin-left: 0.25em;
}

.fw-b {
    font-weight: bold;
}

.d-b {
    display: block;
}

.d-f {
    display: flex;
}

.c-i {
    color: inherit;
}

.c-b {
    color: black;
}

.ws-nw {
    white-space: nowrap;
}

.flex-jc-sb {
    justify-content: space-between;
}

.flex-ai-fe {
    align-items: flex-end;
}

.td-n {
    text-decoration: none;
}

.w-100p {
    width: 100%;
}

.cur-p {
    cursor: pointer;
}

.oy-a {
    overflow-y: auto;
}

.r-n {
    resize: none;
}

.v-h {
    visibility: hidden;
}

.ta-c {
    text-align: center;
}
