.ml-3em {
    margin-left: 3em;
}

.ml-2em {
    margin-left: 2em;
}

.mt-1_5em {
    margin-top: 1.5em;
}

.mt-1em {
    margin-top: 1em;
}

.mb-1em {
    margin-bottom: 1em;
}

.ml-1em {
    margin-left: 1em;
}

.mt-0_75em {
    margin-top: 0.75em;
}

.mt-0_5em {
    margin-top: 0.5em;
}

.ml-0_5em {
    margin-left: 0.5em;
}

.mt-0_25em {
    margin-top: 0.25em;
}

.mr-0_5em {
    margin-right: 0.5em;
}

.ml-0_25em {
    margin-left: 0.25em;
}

.fw-b {
    font-weight: bold;
}

.d-b {
    display: block;
}

.d-f {
    display: flex;
}

.d-ib {
    display: inline-block;
}

.c-i {
    color: inherit;
}

.c-b {
    color: black;
}

.ws-nw {
    white-space: nowrap;
}

.ws-pw {
    white-space: pre-wrap;
}

.flex-d-c {
    flex-direction: column;
}

.flex-jc-sb {
    justify-content: space-between;
}

.flex-jc-fe {
    justify-content: flex-end;
}

.flex-jc-c {
    justify-content: center;
}

.flex-ai-fs {
    align-items: flex-start;
}

.flex-ai-fe {
    align-items: flex-end;
}

.flex-ai-c {
    align-items: center;
}

.flex-as-fe {
    align-self: flex-end;
}

.td-n {
    text-decoration: none;
}

.td-u {
    text-decoration: underline;
}

.w-100p {
    width: 100%;
}

.h-100p {
    height: 100%;
}

.cur-p {
    cursor: pointer;
}

.ox-a {
    overflow-x: auto;
}

.oy-a {
    overflow-y: auto;
}

.r-n {
    resize: none;
}

.v-h {
    visibility: hidden;
}

.ta-c {
    text-align: center;
}

.ta-l {
    text-align: left;
}

.ta-r {
    text-align: right;
}

.pb-0_75em {
    padding-bottom: 0.75em;
}

.pb-0_75em-i {
    padding-bottom: 0.75em !important;
}

.pb-0-i {
    padding-bottom: 0 !important;
}

.p-0_5em {
    padding: 0.5em;
}

.p-1em {
    padding: 1em;
}

.wb-bw {
    word-break: break-word;
}

.pos-s {
    position: sticky;
}

.pos-r {
    position: relative;
}

.pos-a {
    position: absolute;
}

.top-0 {
    top: 0;
}
